@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}

/* Base Styles */
html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

body {
  line-height: 1.5;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Contextual Colors */
:root {
  --bg-primary: #FFFCF2;
  --bg-secondary: #CCC5B9;
  --bg-inverse: #252422;
  --bg-error: #fef2f2;
  --bg-success: #edf7ed;
  --bg-info: #e7f3fe;

  --text-primary: #252422;
  --text-secondary: #403D39;
  --text-inverse: #FFFCF2;
  --text-error: #b91c1c;
  --text-success: #15803d;
  --text-info: #1e40af;

  --border-default: #d4d4d4;
  --border-muted: #e5e5e5;
  --border-error: #f87171;
  --border-success: #4ade80;
  --border-info: #93c5fd;

  --accent-magenta: #d946ef;
  --accent-magenta-vibrant: #86198f;
  --accent-forest: #08b67b;
  --accent-forest-vibrant: #04724d;
  --accent-orange: #ff4600;
  --accent-orange-vibrant: #EB5E28;
  --accent-cyan: #0b82a8;
  --accent-cyan-vibrant: #155e75;
  --accent-yellow: #a16207;
  --accent-yellow-vibrant: #fca311;
}

/* Dark Mode */
.dark {
  --bg-primary: #252422;
  --bg-secondary: #403D39;
  --bg-inverse: #FFFCF2;
  --bg-error: #7f1d1d;
  --bg-success: #14532d;
  --bg-info: #1e3a8a;

  --text-primary: #FFFCF2;
  --text-secondary: #CCC5B9;
  --text-inverse: #252422;
  --text-error: #fca5a5;
  --text-success: #86efac;
  --text-info: #bfdbfe;

  --border-default: #555555;
  --border-muted: #444444;
  --border-error: #b91c1c;
  --border-success: #22c55e;
  --border-info: #38bdf8;

  --accent-magenta: #86198f;
  --accent-magenta-vibrant: #d946ef;
  --accent-forest: #04724d;
  --accent-forest-vibrant: #08b67b;
  --accent-orange: #EB5E28;
  --accent-orange-vibrant: #ff4600;
  --accent-cyan: #155e75;
  --accent-cyan-vibrant: #0b82a8;
  --accent-yellow: #a16207;
  --accent-yellow-vibrant: #fca311;
}

.mesh-background {
  background-image: linear-gradient(to right, var(--border-muted) 1px, transparent 1px),
                    linear-gradient(to bottom, var(--border-muted) 1px, transparent 1px);
  background-size: 8px 8px; /* Grid cell size */
}
